{% extends 'home.html' %}
{% block content %}

	<!DOCTYPE html>
	 <html>
	 <head>
	 	<meta charset="utf-8">
	 	<title>listetache</title>
	 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	 </head>
	 <body>
	 	<table class="table table-dark">
	 		<thead>
	 			<tr>
		 			<th>Nom Tache</th>
		 			<th>Description</th>
		 			<th>Debut Tache</th>
		 			<th>FinTache</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			{% for obj in object_tache %}
	 			<tr>
			 		<td>{{ obj.nomtache }}</td>
			 		<td>{{ obj.description }}</td>
			 		<td>{{ obj.debut }}</td>
			 		<td>{{ obj.fin }}</td>
			 		<td><a href="{% url 'crudapp:update' %}"><button>UPDATE</button></a></td>
			 		<td><a href="{% url 'crudapp:delete' %}"><button>DELETE</button></a></td>
			 	</tr>

		 		{% endfor %}
	 		</tbody>

	 	</table>

	 </body>
	 </html>

{% endblock %} 